.mycontainer{
    display: flex;
    flex: 1;
    align-items: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    flex-direction: column;
}

.mycontainer .header{
    width: 101.2%;
    color: aliceblue;
    background-color: #7B2E00;
    height: 36px;
    font-size: 14px;
    margin-top: -8px;
}

.mycontainer img{
    margin-top: -13px;
}

.mycontainer #select{
    text-align: center;
    width: 90%;
}

.botao{
    background-color: #7B2E00;
}

#nome{
    text-transform: capitalize;
}

#user{
    text-transform: lowercase;
}
